<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>목포대학교 대신 전해줄게</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="/assets/css/facebook.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    </head>
    <body>
        
        <div class="wrapper">
			<div class="box">
				<div class="row row-offcanvas row-offcanvas-left">
					
					<!-- sidebar -->
					<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
					  
						<ul class="nav">
							<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
						</ul>
					   
						<ul class="nav hidden-xs" id="lg-menu">
							<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
							<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
						</ul>
						<ul class="list-unstyled hidden-xs" id="sidebar-footer">
							<li>
							  <a href="https://www.facebook.com/mokpolion"><h3>관리자</h3> <i class="glyphicon glyphicon-heart-empty"></i> MokpoLion</a>
							</li>
						</ul>
					  
						<!-- tiny only nav-->
					  <ul class="nav visible-xs" id="xs-menu">
							<li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
							<li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
							<li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
							<li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
						</ul>
					  
					</div>
					<!-- /sidebar -->
				  
					<!-- main right col -->
					<div class="column col-sm-10 col-xs-11" id="main">
						
						<!-- top nav -->
						<div class="navbar navbar-blue navbar-static-top">  
							<div class="navbar-header">
							  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <a href="<%=root_path%>" class="navbar-brand logo">M</a>
							  <h1 style="font-size:1.5em;margin-top:12px;margin-left:15%;margin-right:40px;width:119%;">목포대학교 커뮤니티</h1>
							</div>
							<nav class="collapse navbar-collapse" role="navigation">
							<form class="navbar-form navbar-left">
								<div class="input-group input-group-sm" style="max-width:300px;">
								  <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
								  <div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								  </div>
								</div>
							</form>
							<ul class="nav navbar-nav">
							  <li>
								<a href=""><i class="glyphicon glyphicon-home"></i> Home</a>
							  </li>
							  <li>
								<a href=""><span class="badge">사용자 홈</span></a>
							  </li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
							  <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
								<ul class="dropdown-menu">
								  <li><a><%=current_user.username%></a></li>
								  <li><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
								  <li><a>More</a></li>
								  <li><a>More</a></li>
								  <li><a>More</a></li>
								</ul>
							  </li>
							</ul>
							</nav>
						</div>
						<!-- /top nav -->
					  
						<div class="padding">
							<div class="full col-sm-9">
							  
								<!-- content -->                      
								<div class="row">
								  
								 <!-- main col left --> 
								  
								  <!-- main col right -->
								  <div class="col-sm-7">


									   <div class="panel panel-default">
										 <div class="panel-heading">
										 	<div class="pull-right">
										 	<button class="btn btn-default" onclick="location.href='/board/sign_on'">이전으로</button>
										 	</div>
										  <h4>작성자: <%=@edit.writer%></h4></div>
										  	<%= form_tag("/board/update", multipart: true) do %>
										 		<input name="id" type=hidden value="<%=@edit.id%>">
										 		<input name="writer" type=hidden value="<%=@edit.writer%>">
										 		
										 	
										  <div class="panel-body">
										  	<p>
										  	<textarea class="img-responsive" name="content" rows="4" cols="50" style="border:none;font-size:90%;"><%=@edit.content%></textarea>
										  	</p>
										  	<br>
										  	<a href="#">#tag: 분실물</a>
											<hr>
											<img src="<%=@edit.image.url%>" class="img">
											<div class="clearfix"></div>
												<input name="image" class="btn glyphicon glyphicon-camera" type="file"><input type=submit class="btn btn-primary" value="수정">
											<hr>
											<% end %>

										  </div>
									   </div>
									</div>
									<br>
							   </div>
							  
								<div class="row">
								  <div class="col-sm-6">
									<a href="http://www.mokpo.ac.kr/index.9is">목포대학교</a> <small class="text-muted">|</small> <a href="https://www.facebook.com/mnusecretsend/">Facebook</a> <small class="text-muted">|</small>
								  </div>
								</div>
							  
								<div class="row" id="footer">    
								  <div class="col-sm-6">
									
								  </div>
								  <div class="col-sm-6">
									<p>
									<a href="https://likelion.net" class="pull-right">&copyCopyright LikeLion</a>
									</p>
								  </div>
								</div>
							  
							  <hr>
							  
							  <h4 class="text-center">
							  <a href="https://github.com/chanbin/mnu" target="ext">Visit github @chanbin</a>
							  </h4>
								
							  <hr>
								
							  
							</div><!-- /col-9 -->
						</div><!-- /padding -->
					</div>
					<!-- /main -->
				  
				</div>
			</div>
		</div>


		<!--post modal-->
        <script type="text/javascript" src="/assets/js/jquery.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
			$('[data-toggle=offcanvas]').click(function() {
				$(this).toggleClass('visible-xs text-center');
				$(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
				$('.row-offcanvas').toggleClass('active');
				$('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
				$('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
				$('#btnShow').toggle();
			});
        });
        
        </script>
        
	</body>
</html>